ul {
list-style-type: none;
margin: 1px;
padding: 1px;
overflow: hidden;
border: 2px solid #e7e7e8;
background-color: rgb(238, 209, 209);
position: fixed;
top: 0;
width: 100%;
}

li{
float: left;
border-right: 2px solid #e7e7e8;
}

li a {
display: block;
color: #e7e7e8;
text-align: left;
padding: 15px 17px;
text-decoration: none;
}

a:active {
color: rgb(36, 255, 127);
}
a:link {
    color: rgb(159, 187, 158);
}
a:visited {
    color: rgb(255, 0, 21);
}
a:hover {
    font-size: 2em;
    color: rgb(124, 218, 116);
    text-decoration: none;
}

section>h3 {
    color: rgb(189, 43, 43);
    font-size: 10mm;

}

div p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(91, 89, 94);
    text-indent: 50px;
}
h3+p {
    text-align: left;
    font-size: 20px;
}

h1 {
font-size: 500%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
text-shadow: 2px 2px 5px red;
transition-property: font size;
transition-duration: 1s;
transition-timing-function: ease-in;
}
h1:hover{
    font-size: 600%;
}
.backgroundcolor {
    background-color: rgb(124, 180, 102);
}
.images {
width: 8cm;
height: 8cm;
transition-property: width;
transition-duration: 2s;
transition-timing-function: linear;
}
.images:hover{
    width: 20%;
}
.container {
    padding: 2em;
}
@keyframes test {
    0% {background-color:rgb(124, 180, 102) ;}
    100% {background-color: greenyellow;}
}
body{
animation-name: test;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate-reverse;
}
